<!DOCTYPE html>
<html>

<head>
    <title>Daftar Semua Pengaduan</title>
</head>

<body>
    <h1>Daftar Pengaduan</h1>
    <a href="{% url 'pengaduan-tambah' %}">Buat Pengaduan Baru</a>
    <ul>
        {% for aduan in object_list %}
        <li>
            <strong>{{ aduan.judul }}</strong> - Dilaporkan oleh: {{ aduan.pelapor.nama_lengkap }}
            <p>Status: {{ aduan.get_status_display }}</p>
            <p>{{ aduan.deskripsi }}</p>
        </li>
        {% empty %}
        <li>Belum ada pengaduan yang tercatat.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'warga-list' %}">← Kembali ke Daftar Warga</a>
</body>

</html>